<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>風華</title>
<style type="text/css">
<!--
body {
	font-family: Verdana, Arial,  "細明體", "新細明體","MingLiU";
	font-size: 11px;
	color:#666;
	word-wrap:break-word;
}
td{line-height:20px;}
a {
	color: #e54700;
}
a:hover{
	text-decoration: underline;
}
img{border:0;}
.bold{font-weight:bold;}
.green{color:#008e90;}
.title{color:#006A73;font-size:13px;font-weight:bold;}
-->
</style>
</head>

<body>
<table style="margin:0 auto;" id="wrapper" width="600" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td>
        <table width="100%" border="0" cellspacing="0" cellpadding="0">
          <tr>
            <td><img src="#img_banner#" alt="風華"/></td>
          </tr>
          <tr>
            <td style="border:1px solid #ccc;">
            	<table width="100%" border="0" cellspacing="0" cellpadding="0">                 
                  <tr><td colspan="3">&nbsp;</td></tr>
                  <tr>
                    <td width="23">&nbsp;</td>
                    <td>
                    	<table width="100%" border="0" cellspacing="0" cellpadding="0">
                          <tr>                            
                            <td width="150" align="right"><span class="bold">姓名：</span></td>
                            <td>#name#</td>
                          </tr>
						  <tr>
                            <td align="right"><span class="bold">婚期：</span></td>
                            <td>#mdate#</td>
                          </tr>  
                          <tr>
                            <td align="right"><span class="bold">電話：</span></td>
                            <td>#tel#</td>
                          </tr>
                          <tr>                            
                            <td align="right"><span class="bold">電子信箱：</span></td>
                            <td>#email#</td>
                          </tr>
                          <tr>                            
                            <td align="right"><span class="bold">收件地址：</span></td>
                            <td>#addr#</td>
                          </tr>
						  
						  <tr>                            
                            <td align="right"><span class="bold">轉帳金額：</span></td>
                            <td>#taccount#</td>
                          </tr>
						  
						  <tr>                            
                            <td align="right"><span class="bold">轉帳日期：</span></td>
                            <td>#tdate#</td>
                          </tr>
						  
						  <tr>                            
                            <td align="right"><span class="bold">您帳號的後五碼：</span></td>
                            <td>#five_code#</td>
                          </tr>
						  
						  <tr>                            
                            <td align="right"><span class="bold">索取樣本內容：</span></td>
                            <td>#memo#</td>
                          </tr>
                        </table>
					</td>
                    <td width="23">&nbsp;</td>
                  </tr>
                  <tr><td colspan="3">&nbsp;</td></tr>


                </table>
            </td>
          </tr>
          <tr>
            <td height="25" align="center" valign="middle" style="border:1px solid #ccc;border-top:none;">
			風華設計 版權所有  |   營業時間週一至週五am9:00~pm5:30<br>
			風華喜帖提供各式喜帖(Q版喜帖.相片喜帖.明信片喜帖.緞帶喜帖) 婚禮小物.刮刮卡等商品服務<br>
			Tel 03-4613686 Fax 03-4618377 Email printwind@gmail.com Address 320中壢市復華街337號
			</td>
          </tr>
        </table>
    </td>
  </tr>
</table>

</body>
</html>
